/* Cards with the different projects i've worked on*/

.card {
  color: black;
  /* max-height: 300px; */
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card-image {
    max-width: 320px;
    max-height: 300px;
}

.card-content {
    margin: 0 auto;
}

.card-content h4 {
    width: 100%;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
    margin: 0 auto;
}