/* Components design */
/* --- Components design --- */
/* @import url("components/avatar.css"); */
/* @import url("components/button.css"); */
/* @import url("components/dropdown.css"); */
@import url("card.css");
/* @import url("components/banner.css"); */
/* @import url("components/list.css"); */

/*==================================================
=            CORE STYLES            =
==================================================*/

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  text-align: centre;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, {
  margin: 0;
  padding: 0.5em 1em;
}

p {
  /* font-weight: 300; */
  margin: 0;
  padding: 1em 1em;
}

/* Custom Designs */

.page-title {
  padding: 10px;
}

.card {
  padding: 10px;
  text-align: center;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

#footer {
  background:grey;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

#wrapper a:link {
  color: #ff0000;

}

#wrapper a:visited {
  color:inherit;
}

#wrapper a:hover {
  color: #ff00ff;
}

#wrapper a:active {
  color: #0000ff;
}

.work-image {
  height: 100%;
  overflow: hidden;
  margin: 5px;
}

/* Social links */

/* .top-bar {
  background: #000000;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 300;
  font-size: 12px;
  min-height: 40px;
  line-height: 40px;
} */

/* .top-bar .social {
  padding: 0px;
} */

.top-bar .social a i {
  text-decoration: none;
  margin: 0px;
  line-height: 35px;
  padding: 10px;
  height: 40px;
  width: 40px;
  font-size: 16px;
  color: #FFFFFF;
}

.top-bar .social a:hover i {
  font-size: 16px;
  color: #FF0000;
}
.social-icons{
  width: 320px;
  margin:0 auto;
}
.social-icons li {
 list-style:none;
 display:block;
}

ul {

}

/* a {
  text-decoration: none;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-icons {
  background: red;
}

.social-icon {
  width: 200px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  padding-left: 20px;
}

.social-icon a {
  margin: 0 auto;
  color: #fff;
} */
/*
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}

.fa-instagram {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-instagram:hover {
  background-color: #0073a4;
} */

/*==================================================
=            HEADER SHOWCASE             =
==================================================*/

#showcase {
  min-height: 650px;
  color: #f4f3f3;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: url('../img/4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 650px;
  z-index: -1;
  opacity: 0.7;
}

#showcase h1 {
  font-size: 52px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 0;
  color:white;
}

#showcase .content-wrap a {
  position: absolute;
  bottom: 10;
  left: 50%;
  margin-left: -60px;
}

#showcase .content-wrap p {
  font-size: 32px;
  padding: 0;
  color: lightgrey;
}

/*==================================================
=            SECTION A (ABOUT ME PAGE)             =
==================================================*/

#section-a {
  width: 90%;
  margin: 10px auto;
  background: rgb(157, 170, 184);
  border-radius: 5px;
  color: black;
  padding-bottom: 2em;
}

#section-a h1, h2, h3 {
  padding: 0;
  text-align: center;
}

#section-a h1 {
  padding: 0;
  text-align: center;
  font-size: 36px;
}

#section-a h3 {
  padding: 0;
  text-align: center;
  font-size: 24px;
}

#section-a p {
  font-size: 1.4em;
}

#section-a .content-wrap {
  padding: .05em;
  font-size: .85em;
  text-align: center;
}

/*==================================================
=            SECTION B (PROJECTS)            =
==================================================*/
#section-b {
  width: 90%;
  margin: 10px auto;
  background: rgb(255 218 185);
  border-radius: 10px;
  color: black;
  padding-bottom: 2em;
}

#section-b img {

}

/*==================================================
=            MEDIA QUERIES             =
==================================================*/

/* LARGE SCREENS */
@media (min-width: 768px) {
  background: green;
}


/* Desktops and laptops ----------- */

@media (min-width: 1025px) {

  .article-container {
    display: flex;
    flex-direction: row;
  }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

