/*==================================================
=            CORE STYLES            =
==================================================*/

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  text-align: centre;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 0.5em 1em;
}

p {
  font-weight: 300;
  margin: 0;
  padding: 1em 1em;
}

/* Custom Designs */

.page-title {
  padding: 10px;
}

.card {
  padding: 10px;
  text-align: center;
}

#footer {
  background:grey;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

/*==================================================
=            HEADER SHOWCASE             =
==================================================*/

#showcase {
  min-height: 650px;
  color: #f4f3f3;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: url('../img/4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  z-index: -1;
  opacity: 0.7;
}

#showcase h1 {
  font-size: 52px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 0;
  color:white;
}

#showcase .content-wrap a {
  position: absolute;
  bottom: 10;
  left: 50%;
  margin-left: -60px;
}

#showcase .content-wrap p {
  font-size: 32px;
  padding: 0;
  color: lightgrey;
}

/*==================================================
=            SECTION A (ABOUT ME PAGE)             =
==================================================*/

#section-a {
  width: 90%;
  margin: 10px auto;
  background: rgb(157, 170, 184);
  border-radius: 5px;
  color: black;
  padding-bottom: 2em;
}

#section-a h1, h2, h3 {
  padding: 0;
  text-align: center;
}

#section-a h1 {
  padding: 0;
  text-align: center;
  font-size: 36px;
}

#section-a h3 {
  padding: 0;
  text-align: center;
  font-size: 24px;
}

#section-a p {
  font-size: 1.4em;
}

#section-a .content-wrap {
  padding: .05em;
  font-size: .85em;
  text-align: center;
}

/*==================================================
=            SECTION B (PROJECTS)            =
==================================================*/
#section-b {
  width: 90%;
  margin: 10px auto;
  background: rgb(255 218 185);
  border-radius: 10px;
  color: black;
  padding-bottom: 2em;
}

#section-b img {
  max-width:calc;
}

/*==================================================
=            MEDIA QUERIES             =
==================================================*/

/* LARGE SCREENS */
@media (min-width: 768px) and (max-device-width: 1024px) {

}

/* Desktops and laptops ----------- */

@media (min-width: 1025px) {

  .article-container {
    display: flex;
    flex-direction: row;
  }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

