*, body, html {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
}

/* Landing Page  */

#landingpage {
  width:100vw;
  height: 100vh;
  /* background-image: url(../img/1.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}

#landing::after {
  content: "";
  /* background: url(image.jpg); */
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.info {
  font-size: 4em;
  /* letter-spacing: 5px; */
  line-height: 1.5;
  padding: 20px;
  margin: auto;
  width: 70%;
  text-align: center;
  color:black;
  /* border: black solid 1px; */
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 4s;
  -webkit-animation-iteration: 3;
}

.info p {
  font-size: .6em;
}

.button {
  border-radius: 4px;
  background-color: #fdece9;
  border: none;
  color: grey;
  text-align: center;
  font-size: 24px;
  padding: 15px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* SECONDARY LANDING PAGE*/

/* #landing {
  display: grid;
  grid-template-columns: repeat (6, 1fr);
  grid-template-rows: repeat (6, 1fr)
  border: solid black 1px;
  height: 100vh;
} */

#landing {
  height:100vh;
  display: flex;
  flex-direction: row;

}

#landing h1 {
  font-size: 5em;
}

#landing h3 {
  font-size: 3em;
}

#landing p {
  font-size: 1.5em;
}

.col-1{
  width:50%;
  margin-left: 50px;
}

.col-2 {
  width: 50%;
}

.one {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  z-index: 3;
}

.two {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(../img/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

/* About Me*/

#about-me {
  width:50vw;
  height: 100vh;
  background-image: url(../img/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-me-info {
  margin-top: 100px;
  position:absolute;
  /* top:850px; */
  left: 650px;
  width: 80%;
}
.about-me-info h1 {
  font-size: 5em;
  margin-bottom: 25px;
}

.about-me-info h3 {
  padding:10px;
  font-size: 2em;
}

.about-me-info p {
  font-size: 1.1em;
  width:60%;
}

.about-me-info button {
  margin-top: 50px;
}

/* Services*/

#services {
  width:100vw;
  height: 80vh;
  background-color: #f79a8c;
  /* padding-left: 50px; */
}

.title h1 {
  padding-top: 30px;
  font-size: 5em;
  margin-left: 20px;
}

.skills {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  width: 70%;
  padding: 25px;
  /* align-items: center; */
  /* border: solid 1px green; */
  text-align: center;
  justify-content: space-between;
  /* margin: auto; */

}

.skills h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.skills-1 {
  /* align-items: stretch; */
  /* margin: 0 auto: */
}

.skills-1-child, .skills-2-child, .skills-3-child {
  /* border: solid black 1px; */
  padding: 30px;
  display: inline-block;
}

.skills-1 p, .skills-2 p, .skills-3 p {
  width: 350px;
  font-size: 1.2em;
}

/* Contact  */

.contact h1 {
  padding-top: 30px;
  font-size: 5em;
  margin-left: 20px;
}

.contact p {
  margin: 30px auto 0px;
  width: 80%;
  font-size: 1.2em;
  /* border: black solid 1px; */
  line-height: 1.6;
}

.form-container{
  width:50%;
  margin:50px auto;
}

.page-heading {
  padding-top: 50px;
  margin-left:30px;
  font-size: 2em;
}

.contact-content{
  margin: 10px auto;
  width:80%;
  letter-spacing:0.05em;
}

.contact-heading{
  text-align: center;
  font-size: 40px;

}

.label{
  display: block;
  margin-bottom:100px;
}

.span{
  display:block;
}

.contact-info label{
  width:48%;
  margin:2%;
}

input, textarea{
  width:550px;
  height: 30px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

textarea{
  background:lightgrey;
  height:100px;
}

.button-holder{
  text-align: center;
  background: Transparent;
  outline: none;
  font-size: 30px;
}

/* =================================
  Media Queries
==================================== */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /*Layout*/
  #landingpage, #about-me, #services, .contact {
    width:100vw;
    height: 100vh;
  }

}
