
/*==================================================
=            COMPONENT DESIGN           =
==================================================*/

@import url("page-header.css");
@import url("card.css");

/*==================================================
=            CORE STYLES            =
==================================================*/

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  text-align: centre;
}

img {
  display: block;
  max-width: 410px;
  max-height: 600px;
}

h1, h2, h3, {
  margin: 0;
  padding: 0.5em 1em;
}

p {
  margin: 0;
  padding: 1em 1em;
  font-family: 'Karla';
}

/* Custom Designs */

.page-title {
  padding: 10px;
}

#footer {
  background:grey;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

#wrapper a:link {
  color: #ff0000;

}

#wrapper a:visited {
  color:inherit;
}

#wrapper a:hover {
  color: #ff00ff;
}

#wrapper a:active {
  color: #0000ff;
}

.work-image {
  height: 100%;
  overflow: hidden;
  margin: 5px;
}

/*==================================================
=            HEADER SHOWCASE             =
==================================================*/

#showcase {
  min-height: 650px;
  color:black;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: url('../img/4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 650px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  font-size: 52px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap a {
  position: absolute;
  bottom: 10;
  left: 50%;
  margin-left: -60px;
}

#showcase .content-wrap p {
  font-size: 32px;
  padding: 0;
}


/*==================================================
=            SECTION A (ABOUT ME PAGE)             =
==================================================*/

#section-a {
  /* width: 90%; */
  margin: 10px auto;
  background: rgb(157, 170, 184);
  border-radius: 5px;
  color: black;
  padding-bottom: 2em;
}

#section-a h1, h2, h3 {
  padding: 0;
  text-align: center;
}

#section-a h1 {
  padding: 0;
  text-align: center;
  font-size: 36px;
}

#section-a h3 {
  padding: 0;
  text-align: center;
  font-size: 24px;
}

#section-a p {
  font-size: 16px;
}

#section-a .content-wrap {
  padding: .05em;
  font-size: .85em;
  text-align: center;
}

/*==================================================
=            SECTION B (PROJECTS)            =
==================================================*/
#section-b {
  width: 90%;
  margin: 10px auto;
  background: rgb(255 218 185);
  border-radius: 10px;
  color: black;
  padding-bottom: 2em;
}

/*==================================================
=            MEDIA QUERIES             =
==================================================*/

/* LARGE SCREENS */
@media (min-width: 768px) {

  #section-a {
    height: 150vh;
    display:flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .article-container {
    width:100%;
    display:flex;
    align-content: flex-start;
  }

  .article-1, .article-2 {
    width:50%;
  }


  .card {
    color: black;
    width: 700px;
    min-height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;;
    flex-wrap: wrap;
  }
  
  .card-image {
      max-width: 320px;
      margin: 0 auto;
      border: solid 1px;
  }
  
  .card-content {
      width: 400px;
  }
  
  .responsive {
      width: 100%;
      height: auto;
      margin: 0 auto;
  }  
}


/* Desktops and laptops ----------- */

@media (min-width: 1025px) {
  /* Styles here */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

